html,
body {
	background-image: url(http://getwallpapers.com/wallpaper/full/4/d/c/1206543-paper-wallpaper-1920x1080-for-mac.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

.login {
	text-align: center;
	height: 400px;
	width: 600px;
	align-content: center;
	margin-top: auto;
	margin-bottom: auto;
	background-color: rgba(0, 0, 0, 0.5) !important;
}
